<div class="fotterNav">
  <a href="/feed" >  <div class="optionBottomNav">
        <svg id="homeNot" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24">
            <path d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 11 21 L 11 15 L 13 15 L 13 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z M 12 4.7910156 L 18 10.191406 L 18 11 L 18 19 L 15 19 L 15 13 L 9 13 L 9 19 L 6 19 L 6 10.191406 L 12 4.7910156 z"  fill="grey"></path>
        </svg>
        <svg id="homeFill" viewBox="0 0 1024 1024" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M512 128 128 447.936V896h255.936V640H640v256h255.936V447.936z" fill="#5C47CD" />
          </svg>
        <p class="optionBottomText active">Home</p>
    </div>
</a>
<a href="/search" >
    <div class="optionBottomNav">
        <svg id="searchNot" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 25 25" fill="none">
            <g opacity="0.7">
              <path d="M22.0308 20.9696L17.3368 16.2765C18.6973 14.6431 19.3757 12.548 19.2309 10.4272C19.0861 8.30629 18.1293 6.32289 16.5593 4.88956C14.9894 3.45623 12.9274 2.68333 10.8021 2.73163C8.67687 2.77993 6.65205 3.64571 5.14888 5.14888C3.64571 6.65205 2.77993 8.67687 2.73163 10.8021C2.68333 12.9274 3.45623 14.9894 4.88956 16.5593C6.32289 18.1293 8.30629 19.0861 10.4272 19.2309C12.548 19.3757 14.6431 18.6973 16.2765 17.3368L20.9696 22.0308C21.0393 22.1005 21.122 22.1558 21.213 22.1935C21.3041 22.2312 21.4017 22.2506 21.5002 22.2506C21.5988 22.2506 21.6963 22.2312 21.7874 22.1935C21.8784 22.1558 21.9612 22.1005 22.0308 22.0308C22.1005 21.9612 22.1558 21.8784 22.1935 21.7874C22.2312 21.6963 22.2506 21.5988 22.2506 21.5002C22.2506 21.4017 22.2312 21.3041 22.1935 21.213C22.1558 21.122 22.1005 21.0393 22.0308 20.9696ZM4.25021 11.0002C4.25021 9.66519 4.64609 8.36015 5.38779 7.25011C6.12949 6.14008 7.1837 5.27492 8.4171 4.76403C9.6505 4.25314 11.0077 4.11946 12.3171 4.37991C13.6264 4.64036 14.8292 5.28324 15.7732 6.22724C16.7172 7.17125 17.3601 8.37398 17.6205 9.68335C17.881 10.9927 17.7473 12.3499 17.2364 13.5833C16.7255 14.8167 15.8603 15.8709 14.7503 16.6126C13.6403 17.3543 12.3352 17.7502 11.0002 17.7502C9.21061 17.7482 7.49488 17.0364 6.22944 15.771C4.964 14.5056 4.2522 12.7898 4.25021 11.0002Z" fill="black"></path>
            </g>
          </svg>
          <img id="searchFill" src="/images/searchFill.png" alt="">
        <p class="optionBottomText ">Search</p>
    </div>
</a>
<a href="/recordvideo">
    <div class="optionBottomNav">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#5C47CD" class="bi bi-plus-square-fill" viewBox="0 0 16 16"> <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/> </svg>
        <p class="optionBottomText">Create</p>
    </div>
</a>
 <a href="../notifications"  >   <div class="optionBottomNav">
        <svg id="notifications" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="grey" class="bi bi-bell" viewBox="0 0 16 16"> <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/> </svg>
        <svg id="notificationsFill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#5C47CD" class="bi bi-bell-fill" viewBox="0 0 16 16"> <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/> </svg>

        <p class="optionBottomText ">Notifications</p>
    </div></a>
 <a href="./user/updateProfile"  >   <div class="optionBottomNav">
        <div class="profileBottom">
            <img src="/images/view1.png">
          </div>
        <p class="optionBottomText ">Profile</p>
    </div>
 </a>


</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const currentPage = window.location.pathname; // Get the current page URL path
        if (currentPage === '/notifications') {
            document.getElementById('notificationsFill').style.display = 'block';
            document.getElementById('notifications').style.display = 'none';
        } else {
            document.getElementById('notifications').style.display = 'block';
            document.getElementById('notificationsFill').style.display = 'none';

        }
        if (currentPage=='/feed'){
            document.getElementById('homeFill').style.display = 'block';
            document.getElementById('homeNot').style.display = 'none';
        }
        else {
            document.getElementById('homeNot').style.display = 'block';
            document.getElementById('homeFill').style.display = 'none';

        }
        if (currentPage=='/search'){
            document.getElementById('searchFill').style.display = 'block';
            document.getElementById('searchNot').style.display = 'none';
        }
        else {
            document.getElementById('searchNot').style.display = 'block';
            document.getElementById('searchFill').style.display = 'none';

        }
    });
</script>

<script>
 document.querySelectorAll('.optionBottomNav').forEach(item => {
    item.addEventListener('click', event => {
        // Remove active class from all links
        document.querySelectorAll('.optionBottomNav').forEach(link => {
            link.classList.remove('active');
        });
        // Set active class to the clicked link
        item.classList.add('active');
    });
});


</script>
