    <!-- Fotter Start -->
    <footer style="background-color: #000000;">
      <div class="footer-row">
        <div class="footer-column w-30">
          <img src="/images/Navlogo.png" alt="">
          <div class="footertext">Hireddd lets you to connect with the right talent within seconds. Explore thousands of digital resumes countrywide and shortlist the most relevant, qualified, and fresh candidates. </div>
        </div>
        <div class="footer-column w-25">

        </div>
        <div class="footer-column w-20">
          <p class="footerheading">General</p>
          <p class="footertext">Home page</p>
          <p class="footertext">For Employer</p>
          <p class="footertext">Find Employees</p>
          <p class="footertext">About Us</p>
          <p class="footertext">Blog</p>
        </div>
        <div class="footer-column w-20">
          <p class="footerheading">Job Categories</p>
          <p class="footertext">Web, mobile & IT</p>
          <p class="footertext">Marketing & Sales</p>
          <p class="footertext">Design & creative</p>
          <p class="footertext">Many more...</p>
        </div>
        <div class="footer-column w-20">
          <p class="footerheading">Help & Support</p>
          <p class="footertext">Help center</p>
          <p class="footertext">Community</p>
          <p class="footertext">Privacy Policy</p>
        </div>

      </div>
      <div class="socials-div">

        <a href="#" target="_blank" class="socials-icons"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 25 25" fill="none">
            <path d="M21.1974 3.13403H4.69638C4.29853 3.13403 3.91698 3.29208 3.63566 3.5734C3.35433 3.85472 3.19629 4.23628 3.19629 4.63413V21.1352C3.19629 21.533 3.35433 21.9146 3.63566 22.1959C3.91698 22.4772 4.29853 22.6353 4.69638 22.6353H21.1974C21.5953 22.6353 21.9768 22.4772 22.2582 22.1959C22.5395 21.9146 22.6975 21.533 22.6975 21.1352V4.63413C22.6975 4.23628 22.5395 3.85472 22.2582 3.5734C21.9768 3.29208 21.5953 3.13403 21.1974 3.13403ZM21.1974 21.1352H4.69638V4.63413H21.1974V21.1352ZM9.94672 11.3846V17.3849C9.94672 17.5839 9.8677 17.7746 9.72703 17.9153C9.58637 18.056 9.3956 18.135 9.19667 18.135C8.99775 18.135 8.80697 18.056 8.66631 17.9153C8.52565 17.7746 8.44662 17.5839 8.44662 17.3849V11.3846C8.44662 11.1856 8.52565 10.9949 8.66631 10.8542C8.80697 10.7135 8.99775 10.6345 9.19667 10.6345C9.3956 10.6345 9.58637 10.7135 9.72703 10.8542C9.8677 10.9949 9.94672 11.1856 9.94672 11.3846ZM18.1972 14.0097V17.3849C18.1972 17.5839 18.1182 17.7746 17.9776 17.9153C17.8369 18.056 17.6461 18.135 17.4472 18.135C17.2483 18.135 17.0575 18.056 16.9168 17.9153C16.7762 17.7746 16.6971 17.5839 16.6971 17.3849V14.0097C16.6971 13.5124 16.4996 13.0355 16.1479 12.6838C15.7963 12.3322 15.3193 12.1346 14.822 12.1346C14.3247 12.1346 13.8478 12.3322 13.4961 12.6838C13.1445 13.0355 12.9469 13.5124 12.9469 14.0097V17.3849C12.9469 17.5839 12.8679 17.7746 12.7272 17.9153C12.5866 18.056 12.3958 18.135 12.1969 18.135C11.9979 18.135 11.8072 18.056 11.6665 17.9153C11.5258 17.7746 11.4468 17.5839 11.4468 17.3849V11.3846C11.4477 11.2008 11.5161 11.0238 11.6388 10.8872C11.7616 10.7505 11.9303 10.6636 12.1128 10.643C12.2954 10.6224 12.4792 10.6696 12.6293 10.7755C12.7794 10.8814 12.8854 11.0388 12.9272 11.2177C13.4346 10.8735 14.0262 10.674 14.6384 10.6406C15.2506 10.6073 15.8604 10.7413 16.4022 11.0283C16.9439 11.3154 17.3973 11.7446 17.7136 12.2698C18.0298 12.7951 18.197 13.3966 18.1972 14.0097ZM10.3217 8.75939C10.3217 8.98191 10.2558 9.19943 10.1321 9.38445C10.0085 9.56946 9.8328 9.71367 9.62722 9.79882C9.42164 9.88398 9.19542 9.90626 8.97718 9.86284C8.75894 9.81943 8.55847 9.71228 8.40112 9.55494C8.24378 9.39759 8.13663 9.19712 8.09322 8.97888C8.04981 8.76064 8.07209 8.53442 8.15724 8.32884C8.24239 8.12326 8.3866 7.94755 8.57161 7.82393C8.75663 7.7003 8.97415 7.63432 9.19667 7.63432C9.49506 7.63432 9.78122 7.75285 9.99222 7.96384C10.2032 8.17484 10.3217 8.461 10.3217 8.75939Z" fill="white" />
          </svg></a>
        <a href="#" target="_blank" class="socials-icons"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 25 25" fill="none">
            <path d="M12.9498 8.38461C12.0598 8.38461 11.1897 8.64855 10.4496 9.14305C9.70955 9.63754 9.13273 10.3404 8.79212 11.1627C8.4515 11.985 8.36238 12.8899 8.53602 13.7629C8.70967 14.6358 9.13828 15.4377 9.76766 16.0671C10.397 16.6965 11.1989 17.1251 12.0719 17.2987C12.9448 17.4724 13.8497 17.3832 14.672 17.0426C15.4943 16.702 16.1972 16.1252 16.6917 15.3851C17.1862 14.6451 17.4501 13.775 17.4501 12.8849C17.4489 11.6917 16.9743 10.5478 16.1307 9.70408C15.287 8.86039 14.143 8.38585 12.9498 8.38461ZM12.9498 15.8851C12.3565 15.8851 11.7764 15.7091 11.283 15.3795C10.7896 15.0498 10.4051 14.5812 10.178 14.033C9.95095 13.4848 9.89153 12.8816 10.0073 12.2996C10.1231 11.7176 10.4088 11.183 10.8284 10.7634C11.248 10.3439 11.7826 10.0581 12.3645 9.94235C12.9465 9.82659 13.5497 9.886 14.098 10.1131C14.6462 10.3402 15.1147 10.7247 15.4444 11.2181C15.7741 11.7115 15.95 12.2915 15.95 12.8849C15.95 13.6806 15.6339 14.4437 15.0713 15.0064C14.5086 15.569 13.7455 15.8851 12.9498 15.8851ZM17.4501 3.13428H8.44955C7.05753 3.13577 5.72296 3.6894 4.73865 4.67371C3.75434 5.65802 3.20071 6.99259 3.19922 8.38461V17.3852C3.20071 18.7772 3.75434 20.1118 4.73865 21.0961C5.72296 22.0804 7.05753 22.634 8.44955 22.6355H17.4501C18.8421 22.634 20.1767 22.0804 21.161 21.0961C22.1453 20.1118 22.699 18.7772 22.7005 17.3852V8.38461C22.699 6.99259 22.1453 5.65802 21.161 4.67371C20.1767 3.6894 18.8421 3.13577 17.4501 3.13428ZM21.2004 17.3852C21.2004 18.3798 20.8053 19.3337 20.1019 20.037C19.3986 20.7403 18.4447 21.1354 17.4501 21.1354H8.44955C7.45493 21.1354 6.50104 20.7403 5.79773 20.037C5.09443 19.3337 4.69931 18.3798 4.69931 17.3852V8.38461C4.69931 7.38999 5.09443 6.4361 5.79773 5.73279C6.50104 5.02949 7.45493 4.63437 8.44955 4.63437H17.4501C18.4447 4.63437 19.3986 5.02949 20.1019 5.73279C20.8053 6.4361 21.2004 7.38999 21.2004 8.38461V17.3852ZM18.9502 8.00959C18.9502 8.23211 18.8842 8.44963 18.7606 8.63464C18.637 8.81966 18.4613 8.96386 18.2557 9.04902C18.0501 9.13417 17.8239 9.15645 17.6057 9.11304C17.3874 9.06963 17.1869 8.96248 17.0296 8.80513C16.8723 8.64779 16.7651 8.44732 16.7217 8.22908C16.6783 8.01084 16.7006 7.78462 16.7857 7.57904C16.8709 7.37346 17.0151 7.19775 17.2001 7.07412C17.3851 6.9505 17.6026 6.88452 17.8251 6.88452C18.1235 6.88452 18.4097 7.00305 18.6207 7.21404C18.8317 7.42503 18.9502 7.7112 18.9502 8.00959Z" fill="white" />
          </svg></a>
        <a href="#" target="_blank" class="socials-icons"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 25 25" fill="none">
            <g clip-path="url(#clip0_37_341)">
              <path d="M24.1455 7.34795C24.0888 7.21089 23.9927 7.09373 23.8693 7.01129C23.746 6.92885 23.601 6.88483 23.4527 6.8848H20.5997C20.2008 6.20617 19.6331 5.6423 18.9518 5.24801C18.2705 4.85372 17.4987 4.64242 16.7116 4.63466C16.1252 4.62696 15.5431 4.73664 14.9997 4.95722C14.4563 5.17781 13.9625 5.50485 13.5473 5.91911C13.1201 6.33841 12.7809 6.8389 12.5499 7.39116C12.3188 7.94342 12.2005 8.5363 12.2019 9.13494V9.70592C8.42732 8.71023 5.33994 5.63972 5.30713 5.6069C5.2065 5.50539 5.07896 5.43474 4.93953 5.40327C4.80009 5.37181 4.65457 5.38085 4.5201 5.42931C4.38563 5.47778 4.26781 5.56367 4.18051 5.67685C4.09321 5.79004 4.04008 5.92581 4.02736 6.06818C3.62327 10.5488 4.9246 13.5471 6.08999 15.2731C6.65822 16.1264 7.34949 16.891 8.14137 17.542C6.71347 19.1856 4.4652 20.0491 4.44082 20.0584C4.33498 20.0981 4.23947 20.1611 4.16142 20.2429C4.08338 20.3246 4.02481 20.4229 3.9901 20.5305C3.95539 20.638 3.94544 20.7521 3.96098 20.864C3.97652 20.9759 4.01716 21.0829 4.07986 21.177C4.15018 21.282 4.43145 21.6504 5.11868 21.9945C5.96811 22.4202 7.09036 22.6358 8.4517 22.6358C15.0774 22.6358 20.6137 17.5336 21.1791 10.9688L23.9833 8.16551C24.0882 8.06055 24.1596 7.92686 24.1884 7.78133C24.2173 7.63581 24.2024 7.48499 24.1455 7.34795ZM19.9265 10.1053C19.7979 10.2342 19.7206 10.4055 19.709 10.5872C19.3274 16.5023 14.3846 21.1357 8.4517 21.1357C7.46164 21.1357 6.76409 21.0044 6.27469 20.8469C7.35382 20.261 8.8586 19.2531 9.82616 17.8017C9.88295 17.7164 9.92164 17.6203 9.93985 17.5194C9.95806 17.4186 9.9554 17.315 9.93202 17.2152C9.90865 17.1154 9.86507 17.0215 9.80397 16.9391C9.74287 16.8568 9.66555 16.7879 9.57677 16.7367C9.53271 16.7114 5.45995 14.2671 5.45151 7.7361C6.95161 8.95493 9.69397 10.846 12.8273 11.3729C12.9347 11.391 13.0447 11.3855 13.1498 11.3568C13.2548 11.3281 13.3524 11.2768 13.4356 11.2066C13.5188 11.1364 13.5858 11.0489 13.6318 10.9502C13.6778 10.8515 13.7018 10.7439 13.702 10.635V9.13494C13.7012 8.73484 13.7804 8.33861 13.935 7.96957C14.0895 7.60052 14.3164 7.26613 14.6021 6.98606C14.876 6.71163 15.2022 6.4949 15.5613 6.34868C15.9204 6.20246 16.3051 6.12972 16.6929 6.13475C17.8798 6.14975 18.9889 6.87355 19.453 7.9358C19.5115 8.06935 19.6077 8.18296 19.7297 8.26272C19.8518 8.34248 19.9945 8.38494 20.1403 8.38489H21.6404L19.9265 10.1053Z" fill="white" />
            </g>
            <defs>
              <clipPath id="clip0_37_341">
                <rect width="24.0015" height="24.0015" fill="white" transform="translate(0.952148 0.883789)" />
              </clipPath>
            </defs>
          </svg></a>
        <a href="#" target="_blank" class="socials-icons"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 25 25" fill="none">
            <path d="M12.9562 3.13428C11.0277 3.13428 9.14252 3.70614 7.53904 4.77755C5.93556 5.84896 4.68579 7.3718 3.94779 9.1535C3.20979 10.9352 3.0167 12.8957 3.39293 14.7871C3.76916 16.6786 4.69781 18.416 6.06146 19.7796C7.42511 21.1433 9.1625 22.0719 11.0539 22.4482C12.9454 22.8244 14.9059 22.6313 16.6876 21.8933C18.4693 21.1553 19.9921 19.9055 21.0635 18.3021C22.1349 16.6986 22.7068 14.8134 22.7068 12.8849C22.7041 10.2997 21.6759 7.82119 19.8479 5.99318C18.0199 4.16518 15.5414 3.13701 12.9562 3.13428ZM13.7062 21.1007V15.135H15.9564C16.1553 15.135 16.3461 15.056 16.4867 14.9154C16.6274 14.7747 16.7064 14.5839 16.7064 14.385C16.7064 14.1861 16.6274 13.9953 16.4867 13.8546C16.3461 13.714 16.1553 13.6349 15.9564 13.6349H13.7062V11.3848C13.7062 10.987 13.8643 10.6054 14.1456 10.3241C14.4269 10.0428 14.8085 9.88471 15.2063 9.88471H16.7064C16.9054 9.88471 17.0961 9.80568 17.2368 9.66502C17.3775 9.52436 17.4565 9.33358 17.4565 9.13466C17.4565 8.93573 17.3775 8.74496 17.2368 8.6043C17.0961 8.46363 16.9054 8.38461 16.7064 8.38461H15.2063C14.4106 8.38461 13.6475 8.7007 13.0849 9.26335C12.5222 9.82599 12.2061 10.5891 12.2061 11.3848V13.6349H9.956C9.75707 13.6349 9.5663 13.714 9.42564 13.8546C9.28498 13.9953 9.20595 14.1861 9.20595 14.385C9.20595 14.5839 9.28498 14.7747 9.42564 14.9154C9.5663 15.056 9.75707 15.135 9.956 15.135H12.2061V21.1007C10.0918 20.9077 8.13316 19.907 6.73777 18.3068C5.34237 16.7065 4.6176 14.6299 4.71421 12.509C4.81082 10.388 5.72137 8.38588 7.25646 6.91912C8.79155 5.45236 10.833 4.63385 12.9562 4.63385C15.0794 4.63385 17.1208 5.45236 18.6559 6.91912C20.191 8.38588 21.1016 10.388 21.1982 12.509C21.2948 14.6299 20.57 16.7065 19.1746 18.3068C17.7792 19.907 15.8206 20.9077 13.7062 21.1007Z" fill="white" />
          </svg></a>
      </div>


      <div class="footerline"></div>
      <p class="footercopyright">@ 2023 All Rights Reserved I hireddd.com</p>

    </footer>
    <!-- Fotter End -->
