<nav class="navbar">
    <div class="navWrapper">
      <img class="logo" src="/images/Navlogo.png" />
      <div class="searchDiv">
        <form action="/search" method="GET" id="formseach">
          <input type="text" class="seachbaruploadnav" placeholder="Search">
        </form>
        <svg class="searchIcon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
          <g opacity="0.7">
            <path d="M22.0308 20.9696L17.3368 16.2765C18.6973 14.6431 19.3757 12.548 19.2309 10.4272C19.0861 8.30629 18.1293 6.32289 16.5593 4.88956C14.9894 3.45623 12.9274 2.68333 10.8021 2.73163C8.67687 2.77993 6.65205 3.64571 5.14888 5.14888C3.64571 6.65205 2.77993 8.67687 2.73163 10.8021C2.68333 12.9274 3.45623 14.9894 4.88956 16.5593C6.32289 18.1293 8.30629 19.0861 10.4272 19.2309C12.548 19.3757 14.6431 18.6973 16.2765 17.3368L20.9696 22.0308C21.0393 22.1005 21.122 22.1558 21.213 22.1935C21.3041 22.2312 21.4017 22.2506 21.5002 22.2506C21.5988 22.2506 21.6963 22.2312 21.7874 22.1935C21.8784 22.1558 21.9612 22.1005 22.0308 22.0308C22.1005 21.9612 22.1558 21.8784 22.1935 21.7874C22.2312 21.6963 22.2506 21.5988 22.2506 21.5002C22.2506 21.4017 22.2312 21.3041 22.1935 21.213C22.1558 21.122 22.1005 21.0393 22.0308 20.9696ZM4.25021 11.0002C4.25021 9.66519 4.64609 8.36015 5.38779 7.25011C6.12949 6.14008 7.1837 5.27492 8.4171 4.76403C9.6505 4.25314 11.0077 4.11946 12.3171 4.37991C13.6264 4.64036 14.8292 5.28324 15.7732 6.22724C16.7172 7.17125 17.3601 8.37398 17.6205 9.68335C17.881 10.9927 17.7473 12.3499 17.2364 13.5833C16.7255 14.8167 15.8603 15.8709 14.7503 16.6126C13.6403 17.3543 12.3352 17.7502 11.0002 17.7502C9.21061 17.7482 7.49488 17.0364 6.22944 15.771C4.964 14.5056 4.2522 12.7898 4.25021 11.0002Z" fill="#5C47CD" />
          </g>
        </svg>
  
        <svg data-toggle="modal" data-target="#myModal2" class="filterIcon" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
          <path d="M22.1197 5.14346C22.0043 4.87675 21.813 4.64986 21.5696 4.49101C21.3263 4.33216 21.0416 4.24836 20.751 4.25002H4.25095C3.96064 4.2506 3.67673 4.3354 3.43366 4.49416C3.1906 4.65291 2.99883 4.87879 2.88161 5.14438C2.76439 5.40998 2.72677 5.70389 2.7733 5.99045C2.81984 6.27701 2.94853 6.54391 3.14376 6.75877L3.15126 6.76721L9.50095 13.5472V20.75C9.50089 21.0215 9.5745 21.2879 9.71395 21.5208C9.85339 21.7538 10.0534 21.9445 10.2928 22.0727C10.5321 22.2008 10.8017 22.2617 11.0729 22.2486C11.344 22.2356 11.6066 22.1493 11.8325 21.9988L14.8325 19.9981C15.0382 19.8612 15.2068 19.6755 15.3234 19.4576C15.44 19.2398 15.501 18.9965 15.501 18.7494V13.5472L21.8516 6.76721L21.8591 6.75877C22.0564 6.54489 22.1863 6.27764 22.2327 5.99037C22.279 5.7031 22.2397 5.40854 22.1197 5.14346ZM14.4078 12.5263C14.1473 12.8024 14.0018 13.1675 14.001 13.5472V18.7494L11.001 20.75V13.5472C11.0018 13.1662 10.8569 12.7992 10.596 12.5216L4.25095 5.75002H20.751L14.4078 12.5263Z" fill="#5C47CD" />
        </svg>
  
      </div>
  
      <div class="buttonWrapper">
        <% if(!user) { %>
          <a href="/user/login" class="loginButton">Login</a>
          <a href="/user/signup" class="registerButton">Register</a>
          <% } else { %>
            <a href="/user/logout" class="registerButton">Logout</a>
         <% } %>
      </div>
    </div>
  </nav>