<style>
  .slid {
    background-position: center !important;
    background-size: cover !important;
    width: auto !important;
    height: auto !important;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
    margin-left: -45px;
    opacity: 0.7;
  }

  .slid img {
    width: 397.427px;
    height: 706.729px;
    border-radius: 10px;
  }
  .swiper-container1 {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .slid.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0); /* White color with 20% opacity */
  }
</style>

<body>
  <div class="swiper-container1">
    <div class="swiper-wrapper">
      <div class="swiper-slide slid">
        <img class="core-image" src="images/I1.png" alt="" />
      </div>
      <div class="swiper-slide slid">
        <img class="core-image" src="images/I1.png" alt="" />
      </div>
      <div class="swiper-slide slid">
        <img class="core-image" src="images/I1.png" alt="" />
      </div>
      <div class="swiper-slide slid">
        <img class="core-image" src="images/I1.png" alt="" />
      </div>
      <div class="swiper-slide slid">
        <img class="core-image" src="images/I1.png" alt="" />
      </div>
      <div class="swiper-slide slid">
        <img class="core-image" src="images/I1.png" alt="" />
      </div>
    </div>
  </div>
</body>
