<%-include('../partials/head', {title: "Password Reset Confirmation"}) %>
<%-include('../partials/navbar') %>
<%- include('../partials/flash') %>
<div class="row">
   <div class="logincolumn margintop">
    <h3 class="loginformheading">Enter Code</h3>
    <p class="loginformPara">Enter a 4 digits code we sent to 
        your email address</p>
      <div class="form-container">
        <div class="form-inner">
          <form action="/verify-reset-code" method="POST" class="login">
            <div class="field">
              <label class="inputLable" for="email">OTP</label>
                <input type="text" name="verificationCode" id="verificationCode" placeholder="Enter 4-digits code" pattern="\d{4}" title="Enter a 4-digit code" required>
             </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Verify">
            </div>
          </form>
        </div>
      </div>
    </div>
  
  </div>
  <script src="./script.js"></script>
<script>
  const loginText = document.querySelector(".title-text .login");
  const loginForm = document.querySelector("form.login");
  const loginBtn = document.querySelector("label.login");
  const signupBtn = document.querySelector("label.signup");
  const signupLink = document.querySelector("form .signup-link a");
 
</script>
<%-include('../partials/body') %>
