<%-include('../partials/head', {title: "Forget Password"}) %>

<%-include('../partials/navbar') %>
<%- include('../partials/flash') %>
<div class="row">

    
   <div class="logincolumn margintop">
    <h3 class="loginformheading">Forget Password</h3>
    <p class="loginformPara">No worries, we'll send you a reset link.</p>

      <div class="form-container">
        <div class="form-inner">
          <form action="/reset/password" method="POST" class="login">

            <div class="field">
              <label class="inputLable" for="email">Email</label>
              <input type="text" placeholder="person@email.com" name="email" required>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Send Link to Email">
            </div>

          </form>

       


        </div>
      </div>
    </div>
    
    
    
    
  </div>
  <script src="./script.js"></script>
<script>
  const loginText = document.querySelector(".title-text .login");
  const loginForm = document.querySelector("form.login");
  const loginBtn = document.querySelector("label.login");
  const signupBtn = document.querySelector("label.signup");
  const signupLink = document.querySelector("form .signup-link a");
 
</script>
<%-include('../partials/body') %>
