<%-include('../partials/head', {title: "Notifications"}) %>
<%-include('../partials/navbarUpload') %>
<div class="notification">
    <div class="indvidualNotification">
        <div class="notificationColumn">
            <p class="notificationText">Your password has been changed successfully</p>
            <p class="chatTime marginZero">July 23. 2021 at 09:15 A.M</p>
        </div>
        <div class="notificationImmage">
            <img src="./images/passChange.png" alt="">
        </div>
    </div>
</div>

<%- include('../partials/bottomNav') %>