<!-- passwordResetSuccess.ejs -->
<%-include('../partials/head', {title: "Password Reset Confirmation"}) %>
<style>
  
.cen {
  height: 240px;
  display: flex;
  justify-content: center;

}

svg {
  scale: 0.5;
  width: 294px;
  height: 260px;
}

.tick {
  transform-origin: center;
  animation: grow 0.8s ease-in-out forwards;
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.circle {
  transform-origin: center;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 1s linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}
</style>

<%-include('../partials/navbar') %>
<%- include('../partials/flash') %>
<div class="row">



  <div class="logincolumnsuccess margintop">
    <div class="cen">

      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="117" height="116" viewBox="0 0 117 116" fill="none">
        <path d="M79.1897 44.5603C79.5267 44.897 79.7941 45.2968 79.9766 45.7368C80.159 46.1769 80.2529 46.6486 80.2529 47.125C80.2529 47.6014 80.159 48.0731 79.9766 48.5132C79.7941 48.9532 79.5267 49.353 79.1897 49.6897L53.8147 75.0647C53.478 75.4017 53.0782 75.6691 52.6382 75.8515C52.1981 76.034 51.7264 76.1278 51.25 76.1278C50.7736 76.1278 50.3019 76.034 49.8619 75.8515C49.4218 75.6691 49.022 75.4017 48.6853 75.0647L37.8103 64.1897C37.1301 63.5095 36.748 62.5869 36.748 61.625C36.748 60.6631 37.1301 59.7405 37.8103 59.0603C38.4905 58.3801 39.4131 57.998 40.375 57.998C41.337 57.998 42.2595 58.3801 42.9397 59.0603L51.25 67.3752L74.0603 44.5603C74.397 44.2233 74.7968 43.9559 75.2369 43.7735C75.6769 43.591 76.1486 43.4971 76.625 43.4971C77.1014 43.4971 77.5731 43.591 78.0132 43.7735C78.4532 43.9559 78.853 44.2233 79.1897 44.5603ZM105.625 58C105.625 67.3204 102.861 76.4316 97.683 84.1812C92.5049 91.9309 85.1449 97.971 76.534 101.538C67.923 105.105 58.4477 106.038 49.3064 104.22C40.165 102.401 31.7682 97.913 25.1776 91.3224C18.5871 84.7319 14.0988 76.335 12.2805 67.1936C10.4622 58.0523 11.3954 48.577 14.9622 39.966C18.529 31.3551 24.5691 23.9952 32.3188 18.817C40.0684 13.6388 49.1796 10.875 58.5 10.875C70.9943 10.8882 82.9731 15.8574 91.8079 24.6922C100.643 33.527 105.612 45.5057 105.625 58ZM98.375 58C98.375 50.1135 96.0364 42.404 91.6549 35.8466C87.2734 29.2892 81.0457 24.1783 73.7595 21.1603C66.4733 18.1423 58.4558 17.3526 50.7208 18.8912C42.9858 20.4298 35.8808 24.2275 30.3041 29.8041C24.7275 35.3807 20.9298 42.4858 19.3912 50.2208C17.8526 57.9558 18.6423 65.9733 21.6603 73.2595C24.6784 80.5457 29.7892 86.7733 36.3467 91.1549C42.9041 95.5364 50.6135 97.875 58.5 97.875C69.0718 97.863 79.2072 93.6581 86.6827 86.1826C94.1581 78.7072 98.363 68.5718 98.375 58Z" fill="#7B68EE"/>
    </svg> -->
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" width="50" height="50" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">

        <path class="circle" stroke="#7B68EE" stroke-width="15" fill="#fff" fill-opacity="0" stroke-miterlimit="10" d="M150,47.9c18.4,0,35.4,4.6,51,13.8s28,21.6,37.2,37.2s13.8,32.6,13.8,51s-4.6,35.4-13.8,51s-21.6,28-37.2,37.2
              s-32.6,13.8-51,13.8s-35.4-4.6-51-13.8s-28-21.6-37.2-37.2s-13.8-32.6-13.8-51s4.6-35.4,13.8-51s21.6-28,37.2-37.2
              S131.7,47.9,150,47.9z M150,238.7c16.2,0,31-4," />

        <path class="tick" cx="0" cy="0" r="1" opacity="1" fill="#7B68EE" stroke="" stroke-width="10" d="M208.4,118.6c0.8-0.8,1.2-1.9,1.2-3.3c0-1.4-0.4-2.6-1.2-3.7l-3.7-3.3c-0.8-1.1-1.9-1.6-3.3-1.6
          s-2.6,0.4-3.7,1.2l-67,67l-28.4-28.8c-1.1-0.8-2.3-1.2-3.7-1.2c-1.4,0-2.5,0.4-3.3,1.2l-3.7,3.3c-0.8,1.1-1.2,2.3-1.2,3.7
          s0.4,2.5,1.2,3.3l35.4,35.8c1.1,1.1,2.3,1.6,3.7,1.6c1.4,0,2.5-0.5,3.3-1.6L208.4,118.6z" />

      </svg>

    </div>
    <h3 class="Headingresetpass">Password reset</h3>
    <p class="Headingresetpasssuccess">You password has been reset successfully.
      Redirecting to Home Page...</p>


  </div>




</div>
<script src="./script.js"></script>
<script>
  const loginText = document.querySelector(".title-text .login");
  const loginForm = document.querySelector("form.login");
  const loginBtn = document.querySelector("label.login");
  const signupBtn = document.querySelector("label.signup");
  const signupLink = document.querySelector("form .signup-link a");
</script>
<%-include('../partials/body') %>



<script>
  etTimeout(() => {
    window.location.href = '/';
  }, 5000);
</script>
</body>

</html>