<%-include('../partials/head', {title: "Password Reset Confirmation"}) %>
<%-include('../partials/navbar') %> <%- include('../partials/flash') %>
<div class="row">
  <div class="logincolumn margintop">
    <h3 class="loginformheading">Create a New Password</h3>

    <div class="form-container">
      <div class="form-inner">
        <form action="/reset-password" method="POST" class="login">
          <div class="field">
            <label class="inputLable" for="email">New Password</label>
            <input
              type="password"
              name="newPassword"
              placeholder="************"
              id="newPassword"
              required
            />
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Create Password" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="./script.js"></script>
<script>
  const loginText = document.querySelector(".title-text .login");
  const loginForm = document.querySelector("form.login");
  const loginBtn = document.querySelector("label.login");
  const signupBtn = document.querySelector("label.signup");
  const signupLink = document.querySelector("form .signup-link a");
</script>
<%-include('../partials/body') %>
