<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/copyThisStyle.css">
</head>

<body>
  <div class="customContainer">
    <div class="foremplye">
      <div class="forEmployeRow">
        <div class="forEmployeColumn">
          <div class="customCardTestimonial">
            <h2 class="cardHeading">For Employe</h2>
            <p class="employeCardSubtitle">At Hireddd, we empower job seekers with one minute dynamic video resumes that leave a lasting impression on employers. Stand out from the competition and unlock exciting job opportunities. Join us today!</p>
            <div class="employeBottom">
              <p class="employeBottomText">
                Create Video
              </p>
              <svg xmlns="http://www.w3.org/2000/svg" width="46px" height="20" viewBox="0 0 50 23" fill="none">
                <path d="M2 9.7793C1.17157 9.7793 0.5 10.4509 0.5 11.2793C0.5 12.1077 1.17157 12.7793 2 12.7793V9.7793ZM49.0607 12.34C49.6464 11.7542 49.6464 10.8044 49.0607 10.2186L39.5147 0.672695C38.9289 0.0869083 37.9792 0.0869083 37.3934 0.672695C36.8076 1.25848 36.8076 2.20823 37.3934 2.79402L45.8787 11.2793L37.3934 19.7646C36.8076 20.3504 36.8076 21.3001 37.3934 21.8859C37.9792 22.4717 38.9289 22.4717 39.5147 21.8859L49.0607 12.34ZM2 12.7793H48V9.7793H2V12.7793Z" fill="#7B68EE" />
              </svg>
            </div>
          </div>
          <div class="customCardTestimonial">
            <h2 class="cardHeading">For Employe</h2>
            <p class="employeCardSubtitle">Simplify Hiring with Hireddd: Advanced Features for Perfect Talent Matches! <br>
              At Hireddd, we offer advanced employer features to streamline your hiring process. Find your perfect match effortlessly. Join us now!</p>
            <div class="employeBottom">
              <p class="employeBottomText">
                Create Video
              </p>
              <svg xmlns="http://www.w3.org/2000/svg" width="46px" height="20" viewBox="0 0 50 23" fill="none">
                <path d="M2 9.7793C1.17157 9.7793 0.5 10.4509 0.5 11.2793C0.5 12.1077 1.17157 12.7793 2 12.7793V9.7793ZM49.0607 12.34C49.6464 11.7542 49.6464 10.8044 49.0607 10.2186L39.5147 0.672695C38.9289 0.0869083 37.9792 0.0869083 37.3934 0.672695C36.8076 1.25848 36.8076 2.20823 37.3934 2.79402L45.8787 11.2793L37.3934 19.7646C36.8076 20.3504 36.8076 21.3001 37.3934 21.8859C37.9792 22.4717 38.9289 22.4717 39.5147 21.8859L49.0607 12.34ZM2 12.7793H48V9.7793H2V12.7793Z" fill="#7B68EE" />
              </svg>
            </div>
          </div>
        </div>
        <div class="rightImgEmploye">
          <img src="/images/rightImg.svg" alt="">

        </div>
      </div>

    </div>
  </div>
</body>

</html>