<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Admin Panel</title>
  <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="container-scroller">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <a class="sidebar-brand brand-logo" ><img src="/images/Navlogo.png" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini pl-4 pt-3"><img src="/images/Navlogo.png" alt="logo" /></a>
      </div>
      <ul class="nav">

        <li class="nav-item mt-2">
          <a class="nav-link" href="/admin/testimonials">
            <i class="mdi mdi-account-multiple menu-icon"></i>
            <span class="menu-title">Testimonials</span>
          </a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="/admin/userlist">
            <i class="mdi mdi-apps menu-icon"></i>
            <span class="menu-title">Users Data</span>
          </a>
        </li>

        <li class="nav-item sidebar-actions">
          <div class="nav-link">
            <div class="mt-4">

              <ul class="mt-4 pl-0">
                <a href="/admin/logout">
                  <li>Sign Out</li>
                </a>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <div class="container-fluid page-body-wrapper">


      <div class="main-panel">
        <div class="content-wrapper pb-0">
          <div class="page-header flex-wrap">
            <h3 class="mb-0"> Hi, Welcome Back! <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">Admin</span>
            </h3>

          </div>
        

        </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Hireddd</span>
          </div>
        </footer>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- End custom js for this page -->
</body>

</html>